.scroll-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.scroll-item {
  padding: 1rem;;
}

img {
  width: 100px;
}
